<div class="container spacer-card">
  <div class="row col-md-6 container menuMois rounded shadow-lg p-1 menuMois m-5">  
      <select class="form-control" [(ngModel)]="moisSelected" 
              (ngModelChange)="onMonthChange($event)">  
            <option [value]="undefined" disabled hidden>-- Choix de mois --</option>
            <option *ngFor="let mois of data" [value]="mois.name">{{mois.name}}</option> 
      </select>
  </div> 
  <div class="card shadow-lg rounded" *ngIf="subbmitedMois">
      <div class="card-header container">
       <div class="d-flex">
        <div class="mr-auto p-2">
         <div class="taille">Liste clients</div>
       </div>
       <a class="text-dark paddingPlus rounded" style="size: 80%;" routerLink="/creer-client">
        <i class="fa colorBt fa-plus mt-2 p-2 rounded"></i>
       </a>
     </div>
   </div>
   <div class="card-body shadow-lg rounded">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="bg-secondary text-white" style="font-size: x-small;">
            <th class="bg-secondary text-white">Code client</th>
            <th class="bg-secondary text-white">Nom client</th>
            <!-- <th>Coll/Resp</th> -->
            <th class="bg-secondary text-white">Forme juridique</th>
            <th class="bg-secondary text-white">Tenue</th>
            <th class="bg-secondary text-white">Comptes annuels</th>
            <th class="bg-secondary text-white">Date trans CGA</th>
            <th class="bg-secondary text-white">juridique & dépot comptes</th>
            <th class="bg-secondary text-white">Tva</th>
            <th class="bg-secondary text-white">Taxe salaires</th>
            <th class="bg-secondary text-white">Liasse</th>
            <th class="bg-secondary text-white">IS</th>
            <th class="bg-secondary text-white">CVAE 1330</th>
            <th class="bg-secondary text-white">CVAE 1329</th>
            <th class="bg-secondary text-white">CFE 1447-M</th>
            <th class="bg-secondary text-white">CFE 1447-C</th>
            <th class="bg-secondary text-white">CFE Acompte</th>
            <th class="bg-secondary text-white">CFE Solde</th>
            <th class="bg-secondary text-white">2777-D</th>
            <th class="bg-secondary text-white">IFU</th>
            <th class="bg-secondary text-white">TA</th>
            <th class="bg-secondary text-white">FPC</th>
            <th class="bg-secondary text-white">EC</th>
            <th class="bg-secondary text-white">C3S</th>
            <th class="bg-secondary text-white">TVTS</th>
            <th class="bg-secondary text-white">DCR</th>
            <th class="bg-secondary text-white">Date cloture</th>
            <th class="bg-secondary text-white" style="width: 50%;">Action</th>
          </tr>
       </thead>
       <tbody>
           <tr style="font-size: x-small;" 
               *ngFor="let client of ConvertToJSON(clients); let i=index"
               (click)="ClickedRow(i); onSelectedRow(client)"
             >
             <td>{{client.codeClient}}</td>
             <td>{{client.nomClient}}</td>
             <!-- <td>{{client.user?.username}}</td> -->
             <td>{{client.formeJuridique}}</td>
             <td [ngClass]="{'red-carre' : ((i == selectedRow && client.tenue == '1') || client.tenue == '1'),
                          'gray-carre' : client.tenue == '0',
                          'green-carre':client.tenue != '1' && client.tenue != '0'}"
             >
               <span *ngIf="(client.tenue != '1' && client.tenue != '0')">{{client.tenue}}</span> 
            </td>
            <td [ngClass]="{'red-carre' : ((i == selectedRow && client.compteAnnuel == '1') || client.compteAnnuel == '1'),
                          'gray-carre' : client.compteAnnuel == '0',
                          'green-carre':client.compteAnnuel != '1' && client.compteAnnuel != '0'}"
              >
              <span *ngIf="(client.compteAnnuel != '1' && client.compteAnnuel != '0')">{{client.compteAnnuel}}</span> 
              </td>
              <td [ngClass]="{'red-carre' : ((i == selectedRow && client.date_transmi_CGA == '1') || client.date_transmi_CGA == '1'),
                          'gray-carre' : client.date_transmi_CGA == '0',
                          'green-carre':client.date_transmi_CGA != '1' && client.date_transmi_CGA != '0'}"
              >
              <span *ngIf="(client.date_transmi_CGA != '1' && client.date_transmi_CGA != '0')">{{client.date_transmi_CGA}}</span> 
              </td>
              <td [ngClass]="{'red-carre' : ((i == selectedRow && client.juri_depot_compte == '1') || client.juri_depot_compte == '1'),
                          'gray-carre' : client.juri_depot_compte == '0',
                          'green-carre':client.juri_depot_compte != '1' && client.juri_depot_compte != '0'}"
              >
              <span *ngIf="(client.juri_depot_compte != '1' && client.juri_depot_compte != '0')">{{client.juri_depot_compte}}</span> 
              </td>
              <td [ngClass]="{'red-carre' : ((i == selectedRow && client.tva == '1') || client.tva == '1'),
                          'gray-carre' : client.tva == '0',
                          'green-carre':client.tva != '1' && client.tva != '0'}"
              >
              <span *ngIf="(client.tva != '1' && client.tva != '0')">{{client.tva}}</span> 
              </td>
              <td [ngClass]="{'red-carre' : ((i == selectedRow && client.taxe_salaire == '1') || client.taxe_salaire == '1'),
                          'gray-carre' : client.taxe_salaire == '0',
                          'green-carre':client.taxe_salaire != '1' && client.taxe_salaire != '0'}"
              >
              <span *ngIf="(client.taxe_salaire != '1' && client.taxe_salaire != '0')">{{client.taxe_salaire}}</span> 
              </td>
              <td [ngClass]="{'red-carre' : ((i == selectedRow && client.liasse == '1') || client.liasse == '1'),
                          'gray-carre' : client.liasse == '0',
                          'green-carre':client.liasse != '1' && client.liasse != '0'}"
              >
              <span *ngIf="(client.liasse != '1' && client.liasse != '0')">{{client.liasse}}</span> 
              </td>
              <td [ngClass]="{'red-carre' : ((i == selectedRow && client.is == '1') || client.is == '1'),
                          'gray-carre' : client.is == '0',
                          'green-carre':client.is != '1' && client.is != '0'}"
              >
              <span *ngIf="(client.is != '1' && client.is != '0')">{{client.is}}</span> 
              </td>
              <td [ngClass]="{'red-carre' : ((i == selectedRow && client.cve_1330 == '1') || client.cve_1330 == '1'),
                          'gray-carre' : client.cve_1330 == '0',
                          'green-carre':client.cve_1330 != '1' && client.cve_1330 != '0'}"
              >
              <span *ngIf="(client.cve_1330 != '1' && client.cve_1330 != '0')">{{client.cve_1330}}</span> 
              </td>
              <td [ngClass]="{'red-carre' : ((i == selectedRow && client.cve_1329 == '1') || client.cve_1329 == '1'),
                          'gray-carre' : client.cve_1329 == '0',
                          'green-carre':client.cve_1329 != '1' && client.cve_1329 != '0'}"
              >
              <span *ngIf="(client.cve_1329 != '1' && client.cve_1329 != '0')">{{client.cve_1329}}</span> 
              </td>
              <td [ngClass]="{'red-carre' : ((i == selectedRow && client.cfe_14_m == '1') || client.cfe_14_m == '1'),
                          'gray-carre' : client.cfe_14_m == '0',
                          'green-carre':client.cfe_14_m != '1' && client.cfe_14_m != '0'}"
              >
              <span *ngIf="(client.cfe_14_m != '1' && client.cfe_14_m != '0')">{{client.cfe_14_m}}</span> 
              </td>
              <td [ngClass]="{'red-carre' : ((i == selectedRow && client.cfe_14_c == '1') || client.cfe_14_c == '1'),
                          'gray-carre' : client.cfe_14_c == '0',
                          'green-carre':client.cfe_14_c != '1' && client.cfe_14_c != '0'}"
              >
              <span *ngIf="(client.cfe_14_c != '1' && client.cfe_14_c != '0')">{{client.cfe_14_m}}</span> 
              </td>
              <td [ngClass]="{'red-carre' : ((i == selectedRow && client.cfe_accompte == '1') || client.cfe_accompte == '1'),
                          'gray-carre' : client.cfe_accompte == '0',
                          'green-carre':client.cfe_accompte != '1' && client.cfe_accompte != '0'}"
              >
              <span *ngIf="(client.cfe_accompte != '1' && client.cfe_accompte != '0')">{{client.cfe_accompte}}</span> 
              </td>
              <td [ngClass]="{'red-carre' : ((i == selectedRow && client.cfe_solde == '1') || client.cfe_solde == '1'),
                          'gray-carre' : client.cfe_solde == '0',
                          'green-carre':client.cfe_solde != '1' && client.cfe_solde != '0'}"
              >
              <span *ngIf="(client.cfe_solde != '1' && client.cfe_solde != '0')">{{client.cfe_solde}}</span> 
              </td>
              <td [ngClass]="{'red-carre' : ((i == selectedRow && client.ch_2777_d == '1') || client.ch_2777_d == '1'),
                          'gray-carre' : client.ch_2777_d == '0',
                          'green-carre':client.ch_2777_d != '1' && client.ch_2777_d != '0'}"
              >
              <span *ngIf="(client.ch_2777_d != '1' && client.ch_2777_d != '0')">{{client.ch_2777_d}}</span> 
              </td>
              <td [ngClass]="{'red-carre' : ((i == selectedRow && client.ifu == '1') || client.ifu == '1'),
                          'gray-carre' : client.ifu == '0',
                          'green-carre':client.ifu != '1' && client.ifu != '0'}"
              >
              <span *ngIf="(client.ifu != '1' && client.ifu != '0')">{{client.ifu}}</span> 
              </td>
              <td [ngClass]="{'red-carre' : ((i == selectedRow && client.ta == '1') || client.ta == '1'),
                          'gray-carre' : client.ta == '0',
                          'green-carre':client.ta != '1' && client.ta != '0'}"
              >
              <span *ngIf="(client.ta != '1' && client.ta != '0')">{{client.ta}}</span> 
              </td>
              <td [ngClass]="{'red-carre' : ((i == selectedRow && client.fpc == '1') || client.fpc == '1'),
                          'gray-carre' : client.fpc == '0',
                          'green-carre':client.fpc != '1' && client.fpc != '0'}"
              >
              <span *ngIf="(client.fpc != '1' && client.fpc != '0')">{{client.fpc}}</span> 
              </td>
              <td [ngClass]="{'red-carre' : ((i == selectedRow && client.ec == '1') || client.ec == '1'),
                          'gray-carre' : client.ec == '0',
                          'green-carre':client.ec != '1' && client.ec != '0'}"
              >
              <span *ngIf="(client.ec != '1' && client.ec != '0')">{{client.ec}}</span> 
              </td>
              <td [ngClass]="{'red-carre' : ((i == selectedRow && client.c3s == '1') || client.c3s == '1'),
                          'gray-carre' : client.c3s == '0',
                          'green-carre':client.c3s != '1' && client.c3s != '0'}"
              >
              <span *ngIf="(client.c3s != '1' && client.c3s != '0')">{{client.c3s}}</span> 
              </td>
              <td [ngClass]="{'red-carre' : ((i == selectedRow && client.tvts == '1') || client.tvts == '1'),
                          'gray-carre' : client.tvts == '0',
                          'green-carre':client.tvts != '1' && client.tvts != '0'}"
              >
              <span *ngIf="(client.tvts != '1' && client.tvts != '0')">{{client.tvts}}</span> 
              </td>
              <td [ngClass]="{'red-carre' : ((i == selectedRow && client.dcr == '1') || client.dcr == '1'),
                          'gray-carre' : client.dcr == '0',
                          'green-carre':client.dcr != '1' && client.dcr != '0'}"
              >
              <span *ngIf="(client.dcr != '1' && client.dcr != '0')">{{client.dcr}}</span> 
              </td> 
              <td>{{client.dateCloture}}</td>
                <td style="width: 50%;">
                  <button type="button" id="btnAdJust" class="btn spacer" (click)="modifierClient(client.id)"><i class="fa fa-edit"></i></button>
                  <button type="button" id="btnAdJust" class="btn spacer" (click)="supprimerClient(client.id)"><i class="fa fa-trash"></i></button>
                  <button type="button" id="btnAdJust" class="btn spacer" (click)="detailsClient(client.id)"><i class="fa fa-eye"></i></button>
                </td>
           </tr>
       </tbody>
      </table>
    </div>
   </div>
  </div>
</div>