.spacer{
  margin: 1%;
  padding: 2%
}
.spacer-card{
  margin: 2%;
}

.colorBt{
  background-color: rgb(143, 135, 135);
}

.menuMois{
  background-color:rgb(124, 183, 187)
}
.search-info{
  color:rgb(7, 87, 161);
}
.taille{
  font-size: x-large;
}
/* td, th{
  border: 1px solid;
  }

th{
  border: 1px solid;
} */
  .gray-carre {
    background-color: rgba(194, 191, 191, 0.938);
  }
  .red-carre {
    background-color: red;
  }
  .green-carre {
    background-color: rgb(23, 196, 23);
  }

  .table {
    max-width: none;
  }
  .cursor{
    cursor: pointer
  }
  .paddingPlus{
    padding-top: 10px;
    padding-left:15px;
    padding-right: 15px;
  }
