<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-info">
    <div href="#" class="navbar-brand">Cabinet</div>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Acceuil </a>
      </li>
      <!-- <li class="nav-item" *ngIf="!showAdminBoard">
        <a href="/creer-client" class="nav-link" routerLink="creer-client">Client </a>
      </li> -->
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Administration</a>
      </li>
      <li class="nav-item" *ngIf="!showAdminBoard">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">Collaborateur</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Inscription</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Se connecter</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Se deconnecter</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
