<br>
<br>
<div class="col-8 shadow-lg p-3 mb-5 bg-white rounded">
  <div class="container">
    <div class="card-header shadow-lg p-3 mb-3 bg-white rounded">
      <div style="color: rgb(94, 94, 247); font-size: x-large;">
        Ajout Client
      </div>
    </div>
  <div [hidden]="submitted" style="width: 400px;">
   <form (ngSubmit)="creerClient()">
     <div style="margin-bottom: 20px;">
      <label for="mois">Mois</label>
      <select class="form-control" [(ngModel)]="form.moisSelected" name="moisSelected" id="moisSelected">  
        <option [value]="undefined" disabled hidden>-- Choix de mois --</option>
        <option *ngFor="let mois of data" [value]="mois.name">{{mois.name}}</option> 
      </select>
     </div>
    <div class="form-group">
      <label for="codeClient">Code client</label>
      <input type="text" class="form-control" id="codeClient" required [(ngModel)]="client.codeClient" name="codeClient">
    </div>

    <div class="form-group">
      <label for="codeClient">Nom client</label>
      <input type="text" class="form-control" id="codeClient" required [(ngModel)]="client.nomClient" name="nomClient">
    </div>

    <div class="form-group">
      <label for="dateCloture">Date de cloture</label>
      <input type="date" class="form-control" id="dateCloture" required [(ngModel)]="client.dateCloture" name="dateCloture">
    </div>

    <div style="margin-bottom: 20px;">
      <select class="form-control" [(ngModel)]="form.formJuridiqueSelected" name="formJuridiqueSelected" id="formJuridiqueSelected">  
        <option [value]="undefined" disabled hidden>-- Choix de la forme juridique --</option>
        <option *ngFor="let formJuridique of dataFormJuridique" [value]="formJuridique.name">{{formJuridique.name}}</option> 
      </select>
    </div>

      <button type="submit" class="btn btn-info" style="margin-right: 40px;">Enregistrer</button>
      <button (click)="goToList()" class="btn btn-info">Annuler</button>
    </form>
   </div>

  <div [hidden]="!submitted">
    <h4>Vous avez enregistré vos informations avec succés!</h4>
    <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
  </div>
  </div>
</div>


